<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MemeSpaceAttack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA2098C51C053E560011A85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA2098DC1C053E570011A85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA2098E71C053E570011A85F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
